.top-main  
  .top-main__box
    %h1.top-main__box--title
      ようこそ！MeToへ！
    -if user_signed_in?
      .top-main__box--log-in
        = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"log-out"
        = link_to "今日のMeToを始める",posts_path,class:"start-btn"
    -else
      .top-main__box--log-in
        =link_to "ログイン",new_user_session_path, class:"login-btn"
        =link_to "新規会員登録",new_user_registration_path,class:"sign-btn"
.accbox
  %label{:for => "label1"} MeToとは
  %input#label1.explain{:type => "checkbox"}/
  .explain-box
    %p
      MeToとは、「自分を変えたい」という人を
      %br
      応援する為のSNS型のToDoアプリです。
      %br
      会員登録して中だけでも覗いてみてください！
  %label{:for => "label2"} こんな方にオススメ！
  %input#label2.explain{:type => "checkbox"}/
  .explain-box
    %p
      自分を変えるぞ！と１日の予定を考えても
      %br
      どうしても自分に甘くなってしまう・・・
      %br
      でも大丈夫！そんな時はMeToを使って！
      %br
      思い切って公開してしちゃいましょう！ 
  %label{:for => "label3"} 製作者挨拶
  %input#label3.explain{:type => "checkbox"}/
  .explain-box
    %p
      みなさん！MeToを見つけてありがとうございます！
      %br
      最初は自分のためだけに作るつもりでしたが、
      %br
      せっかくなら皆さんのお役に立ちたいと考え公開しました！
      %br
      １度決めたToDoは最後までやり切って欲しい！という思いから
      %br
      Todoを編集する機能は作っておりません。
      %br
      では、MeToで