= render "posts/header"
.main
  = render "posts/side"
  .main__right
    %h1.title "#{@user.name}さんのToDoリスト"
    .content-box
      - @post.each do |post|
        .content-box__posts
          .posts-data
            .user-name
              =post.user.name
            .date
              =post.created_at.to_s(:datetime_jp)
            -if user_signed_in? && current_user.id == post.user_id
              =link_to "削除",post_path(post),method: :delete,data:{confirm:"削除していいですか？"},class:"post-delete"
          .posts-content
            =post.explain
