= render "posts/header"
.main
  = render "posts/side"
  .main__right
    - if @search.present?
      .content-box
        =@search
        .title
          の検索結果
      .search-number
        = "#{posts.count}件表示"
        
           