.content-box
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
  .content-box__posts
    .posts-data
      .user-name
        おか
      .date
        2000/12/10
    .posts-content
    