.header
  .header-main
    .header-main__logo
      = image_tag src="/images/logo.png", width:"140px", class:"shop-icon"
    .header-main__search
      %input.header-main__search--box
      %button.header-main__search--btn
        検索
    .header-main__mypage
      マイページ
-# ログインしたら　トップ画面に戻るorログインするリンクだけを表示させるようにする