= render "header"
.main
  .main__box
    %h1.title みんなの投稿
    .content-box
      - @posts.each do |post|
        = link_to user_path(post.user),class:"posts-link" do
          .content-box__posts
            .posts-data
              .user-name
                =post.user.name
              .date
                =post.created_at.to_s(:datetime_jp)
                = render "likes/like"
                -# - if Like.find_by(user_id: current_user.id,post_id: @post)
                -#   = link_to "いいね！済み",post_like_path(post.id), method: :delete 
                -# - else
                -#   = link_to "いいね", post_path(post.id),method: :post
            .posts-content
              =post.explain
    