= render "header"
.main
  .main__box
    %h1.title みんなの投稿
    .content-box
      - @posts.each do |post|
        .content-box__posts
          .posts-data
            .user-name
              =post.user.name
            .date
              =post.created_at
          .posts-content
            =post.explain
    