= render "header"
.main
  =render "posts/side"
  .main__right
    %h1.title
      ToDo投稿
    .posts-boxs
      = form_with model: @post,local: true do|f|
        = f.text_field :explain,placeholder: "今日やることを書き込んでください",class:"posts-box"
        =f.submit "投稿する",class:"write-box"
       

