@import "reset";
*{
  box-sizing: border-box;
}
.wrapper{
  width: 100vw;
}
.content-box{
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  height: 700px;
  overflow: auto;
  &__posts{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    margin-bottom:15px ;
    border: 2px solid black;
    .posts-data{
      display: flex;
      margin-bottom: 5px;
      .user-name,.date{
        margin-left:10px ;
      }
    }
    .posts-content{
      padding: 0 20px;
      font-size: 15px;
    }
  }
}
@import "font-awesome-sprockets";
@import "font-awesome";
@import "top";
@import "devise/regustrations/new";
@import "devise/sessions/new";
@import "posts/header";
@import "posts/index";
@import "users/show";
@import "posts/new";
@import "posts/side";
@import "likes/like";
@import "flash";