.top-main{
  padding: 100px 30px 20px;

  &__box{
    text-align: center;
    &--title{
      color:red;
      text-align: center;
      font-size: 40px;
    }
    &--log-in{
      text-align: center;
      margin: 60px 0 20px 0;
      .login-btn,.log-out{
        text-decoration: none;
        margin-right: 30px;
        font-size: 25px;
        font-weight: bold;
        color: black;
        border-bottom: 3px solid #eaeaea ;
      }
      .sign-btn,.start-btn{
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        color: black;
        border-bottom: 3px solid #eaeaea ;

      }
    }
  }
}
.accbox {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  max-width: 500px;
}

.accbox label {
  display: block;
  margin: 1px 0;
  padding : 11px 12px;
  color :black;
  font-weight: bold;
  background: rgba(39, 37, 37, 0.329);
  cursor :pointer;
  transition: all 0.5s;
}

.accbox label:hover {
  background :#85baef;
}

.accbox input {
  display: none;
}

.accbox .explain-box{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.explain:checked + .explain-box{
  height: auto;
  padding: 5px;
  background: #eaeaea;
  opacity: 1;
}
p {
  font-size: 15px;
  padding: 0 10px;
}