.main{
  width: 100vw;
  display: flex;
  &__right{
    width: 70%;
    height: 900px;
    padding: 50px 30px;
    .title{
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }
  }
}
