.header{
  display: flex;
  width: 100vw;
  border-bottom: 2px solid black;
  
  .header-left{
    width: 90%;
    padding: 10px 0px 0px 200px;
    align-items: center;
    display: flex;
    &__logo{
     padding-right: 30px; 
    }
    &__search{
      width: 100%;
      padding-left: 90px;
      &--box{
        margin-left: 50px;
        width: 80%;
        color: black;
        border: 2px solid black;
        border-radius: 100px;
        padding: 5px;
        outline: none;
      }
      &--box:focus{
        color: black;
      }
      &--btn{
        height: 38px;
        width: 60px;
        font-weight: bold;
        border-radius:100px ;
        border: 1px solid black;
        outline: none;
      }
    }
  }
  .header-right{
    width: 40%;
    display: flex;
    padding:50px 0 0 150px;
    
    &__my-page,&__log-out,&__ranking{
      text-align: center;
      line-height: 50px;
      .usermypage{
        text-decoration: none;
        color: black;
      }
    }
    &__log-out{
      margin-left: 30px;
    }
  }
}