.main{
  width: 100vw;
  &__box{
    width: 70%;
    height: 900px;
    margin: 0 auto;
    padding: 50px 30px;
    .title{
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }
    .content-box{
      width: 80%;
      margin: 0 auto;
      padding: 30px;
      height: 700px;
      overflow: auto;
      margin-bottom: 10px;
      .posts-link{
        text-decoration: none;
        color: black;
        &__posts{
          width: 80%;
          background-color: white;
          margin: 0 auto;
          margin-bottom:10px ;
          .posts-data{
            display: flex;
            .user-name,.date{
              margin-left:10px ;
            }
          }
          .posts-content{
            margin-bottom: 200px;
            font-size: 15px;

          }
        }
      }
    }
  }
}