.main{
  width: 100vw;
  &__box{
    width: 70%;
    height: 900px;
    margin: 0 auto;
    padding: 50px 30px;
    .title{
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }
      .posts-link{
        text-decoration: none;
        color: black;
    }
  }
}