.posts-boxs{
  width: 80%;
  border: 3px solid black;
  margin: 0 auto;
  padding: 80px 30px;
  height: 500px;
  .posts-box{
    height: 250px;
    width: 100%;
    background-color: white;
    font-size: 15px;
    resize: none;
    padding: 30px;
    border:  2px solid black;
    outline: none;
  }
  .count-box{
    float: right;
  }
    input:focus{
      outline: none;
    }
    .write-box{
      display: block;
      margin: 0 auto;
      height: 50px;
      width: 30%;
      text-align: center;
      background-color: white;
      border: 2px solid black;
      border-radius: 50px;
      font-size: 24px;
      font-weight: 900;
      margin-top: 20px;
    }
    .write-box:active{
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      border-bottom: none;
    }
}